*,
*::after,
*::before {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: #000;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.service {
    margin-top: 65px;
}

.service__text {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 44px;
}

.service__title {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    color: #000;
    margin: 0;
}

.service__subtitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 53px;
    color: #242424;
    margin: 0;
}

.service__privileges {
    display: flex;
    justify-content: space-around;
}

.service__privileges-item {
    position: relative;
}

.service__privileges-bg {
    width: 93px;
    height: 93px;
    background-color: #D0A170;
    border-radius: 50%;
    z-index: 1;
    margin: 0 auto;
    margin-bottom: 20px;
}

.service__privileges-img {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 20px;
    right: 80px;
}

.service__privileges-text {
    display: block;
    text-align: center;
    width: 215px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000;
}

.repair {
    margin-top: 113px;
}

.repair__wrapper {
    display: flex;
    gap: 40px;
}

.repair__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
    color: #000;
    margin-bottom: 20px;
}

.repair__title-span {
    font-weight: 600;
}

.repair__subtitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin-bottom: 15px;
}

.repair__item {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    padding-left: 0px;
    position: relative;
    padding-left: 25px;
}


.repair__item::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 15px;
    top: 3px;
    left: 0;
}

.repair__item+.repair__item {
    margin-top: 15px;
}

.guarantee {
    margin-top: 100px;
}

.guarantee__title {
    width: 555px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
    color: #000000;
    margin-bottom: 40px;
}

.guarantee__title-span {
    font-weight: 600;
}

.guarantee__wrapper {
    display: flex;
    margin-bottom: 50px;
}

.guarantee__content {
    width: 291px;
    border-radius: 20px;
}

.guarantee__content--mod {
    background-color: #f6f6f6;
}

.guarantee__content-img {
    padding: 14px 12px 0 13px;
    margin-bottom: 16px;
}

.guarantee__content-title {
    padding-left: 13px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 8px;
}

.guarantee__content-text {
    padding-left: 13px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 270px;
    margin-bottom: 30px;
}

.guarantee__info {
    display: flex;
}

.guarantee__info-img-adaptive {
    display: none;
}

.guarantee__info-list {
    background-color: #f2f2f2;
    border-radius: 0 20px 20px 0;
    padding: 55px 53px 62px 82px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.guarantee__info-item {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    position: relative;
    padding-left: 25px;
}

.guarantee__info-item::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 15px;
    top: 3px;
    left: 0;
}

.guarantee__info-item-span {
    font-weight: 600;
}

.peculiarities {
    margin-top: 100px;
}

.peculiarities__top {
    display: flex;
    gap: 117px;
}

.peculiarities__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    color: #000000;
    width: 462px;
}

.peculiarities__title-span {
    font-weight: 600;
}

.peculiarities__subtitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 508px;
    position: relative;
}

.peculiarities__subtitle::after {
    content: "";
    background-image: url(../img/Intersect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    right: -75px;
}

.peculiarities__subtitle-span {
    font-weight: 600;
}

.peculiarities__content {
    display: flex;
    gap: 10px;
    margin-bottom: 90px;
}

.peculiarities__content-item {
    background-color: #f6f6f6;
    height: 520px;
    position: relative;
}

.peculiarities__content-img {
    margin-bottom: 16px;
}

.peculiarities__content-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.peculiarities__content-text {
    display: block;
    margin: 0 auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
    width: 250px;
}

.peculiarities__content-text-span {
    font-weight: 600;
}

.peculiarities__content-bg {
    width: 58px;
    height: 58px;
    background: #D0A170;
    border: 8px solid #F6F6F6;
    border-radius: 50%;
    position: absolute;
    bottom: -26px;
    left: 105px;
}

.peculiarities__content-number {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    position: absolute;
    bottom: -12px;
    left: 122px;
}

.peculiarities__bottom {
    display: flex;
    gap: 14px;
    background-color: #f6f6f6;
    padding: 53px 50px 50px 50px;
    border-radius: 20px;
}

.peculiarities__bottom-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    width: 390px;
    margin-bottom: 14px;
}

.peculiarities__bottom-item {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    position: relative;
    padding-left: 25px;
    width: 450px;
}

.peculiarities__bottom-item::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 15px;
    top: 3px;
    left: 0;
}

.peculiarities__bottom-item+.peculiarities__bottom-item {
    margin-top: 14px;
}

.footer {
    margin-top: 80px;
    margin-bottom: 120px;
}

.footer__wrapper {
    display: flex;
    gap: 50px;
}

.footer__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 130%;
    color: #000000;
    width: 468px;
}

.footer__content {
    display: flex;
    gap: 16px;
}

.footer__content-ava {
    width: 75px;
    height: 75px;
}

.footer__content-consultation {
    display: flex;
    flex-direction: column;
}

.footer__content-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #242424;
    margin-bottom: 10px;
    width: 260px;
}

.footer__content-title-span {
    font-weight: 700;
}

.footer__content-subtitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(36, 36, 36, 0.8);
    margin-bottom: 23px;
}

.footer__content-number {
    display: inline;
    width: 250px;
    height: 57px;
    background: #F6F6F6;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: rgba(36, 36, 36, 0.8);
    margin-bottom: 13px;
}

.footer__content-number:focus {
    outline: none;
}

.footer__content-button {
    width: 250px;
    height: 57px;
    background: #D6AA7B;
    box-shadow: 0px 5px 0px #B7936C;
    border-radius: 6px;
    border: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .3s;
    margin-bottom: 21px;
}

.footer__content-button:hover {
    background: #e6b785;
}

.footer__content-agreement {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    color: rgba(36, 36, 36, 0.4);
    width: 207px;
}

.footer__connection {
    align-self: end;
    margin-bottom: 40px;
    margin-left: 32px;
}

.footer__connection-phone-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.footer__connection-phone {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #242424;
}

.footer__connection-phone-span {
    font-weight: 600;
}

.footer__connection-socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer__connection-whatsapp-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    background: #4CAF50;
    border-radius: 4px;
    transition: all .3s;
}

.footer__connection-whatsapp-link:hover {
    background-color: #009B00;
}

.footer__connection-telegram-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    background: #2196F3;
    border-radius: 4px;
    transition: all .3s;
}

.footer__connection-telegram-link:hover {
    background-color: #0693e3;
}


@media (max-width: 361px) {
    .container {
        max-width: 340px;
    }

    .service__text {
        margin: 0 auto;
    }

    .service__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        margin: 0;
    }

    .service__subtitle {
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        margin: 0;
    }

    .service__text {
        width: 339px;
    }

    .service__text {
        margin-bottom: 20px;
    }

    .service__privileges {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .service__privileges-img {
        right: 58px;
    }

    .service__privileges-text {
        width: 160px;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
    }

    .repair__wrapper {
        display: block;
    }

    .repair__title {
        width: 339px;
        text-align: center;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        color: #242424;
    }

    .repair__subtitle {
        width: 340px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .repair__list {
        width: 340px;
    }

    .repair__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .repair__img {
        margin-top: 20px;
        width: 340px;
        height: 185px;
    }

    .guarantee__title {
        width: 335px;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        color: #242424;
    }

    .guarantee__wrapper {
        display: block;
        margin-bottom: 60px;
    }

    .guarantee__content {
        width: 340px;
        height: 431px;
    }

    .guarantee__content-img {
        width: 320px;
        height: 143px;
        padding-left: 35px;
    }

    .guarantee__content-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        padding-left: 35px;
    }

    .guarantee__content-text {
        padding-left: 35px;
    }

    .guarantee__info {
        display: block;
    }

    .guarantee__info-img {
        display: none;
    }

    .guarantee__info-img-adaptive {
        display: inline-block;
        width: 340px;
        height: 245px;
    }

    .guarantee__info-list {
        padding: 20px 34px 50px 44px;
    }

    .guarantee__info-item {
        width: 260px;
        font-size: 16px;
        line-height: 22px;
    }

    .peculiarities__top {
        display: block;
    }

    .peculiarities__title {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        width: 339px;
        margin-bottom: 15px;
    }

    .peculiarities__subtitle {
        font-size: 16px;
        line-height: 22px;
        width: 340px;
        margin-bottom: 32px;
    }

    .peculiarities__subtitle::after {
        top: 5px;
        right: 15px;
    }

    .peculiarities__content {
        display: block;
    }

    .peculiarities__content-item {
        width: 340px;
        height: 506px;
    }

    .peculiarities__content-item+.peculiarities__content-item {
        margin-top: 38px;
    }

    .peculiarities__content-img {
        width: 340px;
    }

    .peculiarities__content-title {
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        width: 250px;
        margin: 0 auto;
    }

    .peculiarities__content-text {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        width: 228px;
        color: #000;
    }

    .peculiarities__content-bg {
        left: 141px;
    }

    .peculiarities__content-number {
        left: 156px;
    }

    .peculiarities__bottom {
        display: block;
        width: 340px;
        padding: 0;
    }

    .peculiarities__bottom-title {
        font-size: 16px;
        line-height: 22px;
        width: 271px;
        padding: 30px 34px 0 35px;
    }

    .peculiarities__bottom-item {
        width: 338px;
        font-size: 16px;
        line-height: 22px;
        padding: 0 34px 0 65px;
    }

    .peculiarities__bottom-item::before {
        left: 37px;
    }

    .peculiarities__bottom-img {
        width: 320px;
        height: 243px;
        margin-top: 30px;
        padding: 0 0 40px 20px;
    }

    .footer{
        margin-bottom: 66px;
    }

    .footer__wrapper {
        display: block;
    }

    .footer__title {
        font-size: 22px;
        line-height: 130%;
        text-align: center;
        width: 340px;
        margin-bottom: 32px;
    }

    .footer__content {
        display: grid;
        grid-template-columns: 64px 1fr;
        grid-template-rows: 1fr 50px;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }

    .footer__content-ava {
        width: 64px;
        height: 64px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .footer__content-consultation {
        grid-area: 1 / 2 / 2 / 3;
    }

    .footer__content-title {
        font-size: 18px;
        line-height: 125%;
    }

    .footer__content-subtitle {
        font-size: 14px;
        line-height: 125%;
    }

    .footer__content-agreement {
        font-size: 12px;
        line-height: 130%;
        width: 266px;
    }

    .footer__connection {
        grid-area: 2 / 2 / 3 / 3;
        align-self: start;
        display: flex;
        margin: 0;
        gap: 20px;
    }

    .footer__connection-phone {
        font-size: 18px;
        line-height: 25px;
    }

    .footer__connection-socials {
        gap: 8px;
        margin-top: 10px;
    }

    .footer__connection-whatsapp-link,
    .footer__connection-telegram-link {
        width: 32px;
        height: 32px;
    }

    .footer__connection-whatsapp-img,
    .footer__connection-telegram-img {
        width: 16px;
        height: 16px;
    }
}